<h1>Create new character</h1>

<%= form_for @character, url: character_index_path, html: {method: :post} do |f| %>
    <p>
      <label for = 'character_name'>Name</label>:
      <%= f.text_field 'name', autofocus: true %>
    </p>

    <p>
      <label for = 'character_alignment'>Alignment</label>:
      <%= f.select 'alignment1', options_for_select([['Lawful', 'lawful'],
                                                       ['Neutral', 'neutral'],
                                                       ['Chaotic', 'chaotic']], 'neutral') %>
      <%= f.select 'alignment2', options_for_select([['Good', 'good'],
                                                               ['Neutral', 'neutral'],
                                                               ['Evil', 'evil']], 'neutral') %>
    </p>

    <p>
      <label for = 'character_race'>Race</label>:
      <%= f.select 'race_id', options_for_select(@races.collect{|r| [r.name, r.id]}) %>
    </p>

    <p>
      <label for = 'character_category'>Class</label>:
      <%= f.select 'category_id', options_for_select(@categories.collect{|r| [r.name, r.id]}) %>
    </p>

    <p>
      <label for = 'character_max_hp'>Hit Points</label>:
      <%= f.number_field 'max_hp', value: 10, min: 1, max: 20 %>
    </p>


    <p>
      <label for = 'character_armor_class'>Armor Class</label>:
      <%= f.number_field 'armor_class', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_str_level'>Strength Level</label>:
      <%= f.number_field 'str_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_dex_level'>Dexterity Level</label>:
      <%= f.number_field 'dex_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_con_level'>Constitution Level</label>:
      <%= f.number_field 'con_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_per_level'>Perception Level</label>:
      <%= f.number_field 'per_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_int_level'>Intelligence Level</label>:
      <%= f.number_field 'int_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_wis_level'>Wisdom Level</label>:
      <%= f.number_field 'wis_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_chr_level'>Charisma Level</label>:
      <%= f.number_field 'chr_level', value: 0, min: -10, max: 10 %>
    </p>

    <p>
      <label for = 'character_stl_levle'>Stealth Level</label>:
      <%= f.number_field 'stl_level',value: 0, min: -10, max: 10 %>
    </p>

    <%= f.submit 'Create your Character' %>

<% end -%>
