<h1><%= @character.name %></h1>

<div class="col-xs-4">
  <p>
    <strong>Race:</strong> <%= @character.race.name %>
    <br>
    <strong>Class:</strong> <%= @character.category.name %>
    <br>
    <strong>Alignment:</strong> <%= @character.alignment1 %> <%= @character.alignment2 %>
    <br>
    <strong>HP:</strong> <%= @character.curHP %> / <%= @character.maxHP %>
    <br>
    <strong>Attribute Rolls</strong>:
    <br>
    <div class="col-xs-6">Strength:</div>
    <div class="col-xs-6"><%= @character.strRoll %></div>
    <br>
    <div class="col-xs-6">Dexterity:</div>
    <div class="col-xs-6"><%= @character.dexRoll %></div>
    <br>
    <div class="col-xs-6">Constitution:</div>
    <div class="col-xs-6"><%= @character.conRoll %></div>
    <br>
    <div class="col-xs-6">Perception:</div>
    <div class="col-xs-6"><%= @character.perRoll %></div>
    <br>
    <div class="col-xs-6">Intelligence:</div>
    <div class="col-xs-6"><%= @character.intRoll %></div>
    <br>
    <div class="col-xs-6">Wisdom:</div>
    <div class="col-xs-6"><%= @character.wisRoll %></div>
    <br>
    <div class="col-xs-6">Charisma:</div>
    <div class="col-xs-6"><%= @character.chrRoll %></div>
    <br>
    <div class="col-xs-6">Stealth:</div>
    <div class="col-xs-6"><%= @character.stlRoll %></div>
  </p>
</div>